#about{
text-align: left;
width:60%;
margin:100px auto;
}

.about-me-container{
    margin:50px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




#about p{
    font-style:normal;
    text-align:left;
    font-size:19px;
}

.profile-photo{

    width:300px;
    height:290px;
    border-radius:40px;
    margin:0 auto;
    filter: grayscale(100%);
    opacity:1;
    transition: All 300ms ease-in-out;

}

.profile-photo:hover{
    filter: grayscale(0%);
    opacity:1;
}


.skills-container{
    text-align: center;
}

.skills-container li{

    font-style:normal;
    display:block;



}

.skills-container ul{
 padding:0;
 margin:0;
}

.title{
    font-style:normal;
    font-weight: bold;
    position: relative;
}