#about{
text-align: left;
width:60%;
margin:100px auto;
}

.about-me-container{
    margin:50px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




#about p{
    font-style:normal;
    text-align:left;
    font-size:19px;
}

.profile-photo{

    width:300px;
    height:290px;
    border-radius:40px;
    margin:0 auto;
    filter: grayscale(100%);
    opacity:1;
    transition: All 300ms ease-in-out;

}

.profile-photo:hover{
    filter: grayscale(0%);
    opacity:1;
}


#about ul{
    text-align: center;
    padding:0;
    margin:40px 0;
}

#about li{

    display:block;
    margin:0 20px;
    font-weight: 200;
    font-size:25px;
    color:#474747;

}

.skills-container{
    text-align: center;
    margin:0 auto;
    width:85%;
}



.title{
    font-style:normal;
    font-weight: bold;
    position: relative;
}

.hire-container{
    margin:20px 0;
    text-align: center;

}