.footer{
   background-color: #fcfcfc;
   font-style: normal;
   position: relative;
   text-align:center;
   margin:0 auto;
   padding:60px;
   font-size:20px;
   
}


@media only screen and  (max-width: 600px)  {


   .footer{
      padding:30px;
   }

}
