ul{
    padding:0;
    position: absolute;
    right:30px;
    top:0;

}

li{
    display:inline;
    margin:0 20px;
    color:#474747;

}

a{
    text-decoration: none;
 
}

a:visited { 
    text-decoration: none; 
    color: #474747; 
   }