.nav-container{
    color:red;

}

.nav-container ul{
    background-color: rgb(234, 234, 234);
    box-shadow: 0 10px 9px rgb(234, 234, 234,1);
    padding:0;
    position: fixed;
    text-align: right;
    width:100%;
    z-index: 1;
    top:0;

}

.nav-container li{
    display:inline;
    margin:0px 20px;
    font-weight: 500;
    font-style: italic;
    font-size:25px;
    color:#474747;

}

a{
    text-decoration: none;
    color:#474747;

}


.nav-item{
    transition:all 300ms ease-in-out;
}

.nav-item .active{

    background-color: thistle;
    text-decoration:unset;
    transition:all 300ms ease-in-out;

}

.nav-item:hover{
cursor:pointer;
}





