

.App{
    background-color:transparent;

}

.intro-bg{
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    content: url("./images/pexels-steve-johnson-1774986.jpg");
    opacity: 1;
    z-index: -1;
    filter: blur(3px);

}


.intro{
    color:#30475E;
    background-color: #dddddda7;
    width: 70%;
    margin:0px auto;
    border-radius: 5px;
}

.titles{
    margin:230px 0;
    width:100%;
}
span{
    color: #F05454;
}


h1{
    font-size: 40px;
    margin-top: 20px;

}

h4{
    font-size: 50px;
    font-weight: 300;

}

input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#222831;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0);
    padding: 18px 15px;
    border-radius: 30px;
    border:none;
    transition: all 400ms ease-in-out;

}

input:hover{
    cursor: pointer;
    color:rgb(255, 101, 35);

}


@media only screen and  (max-width: 500px)  {

    .intro-bg{
        content:url("./images/pexels-steve-johnson-1774986.jpg");
        height:100vh;
        width: 100vw;
        background-size: 200%;
    }

}
